@charset "UTF-8";

body {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
}

/* サイトヘッダ */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 10px;
  height: 35px;

  color: #fff;
  background-color: black;

  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}

.logo {
  display: inline-flex;
  align-items: center;
}

.logo-label {
  margin-left: 5px;
}

.hamburger {
  display: inline-flex;
}

/* 記事ヘッダ */

.article-header {
  /* CodeGridのJavaScriptドリルシリーズの背景からもってきた */
  background-image: url(../img/bg.jpg);
  background-size: cover;
  background-color: #eaa;

  /* 内側のレイアウト */
  padding: 5rem 10px 4rem;
  display: flex;
  justify-content: center;
  align-items: center; /* あんまり意味ないけど */
}

.article-header-inner {
  max-width: 50rem;
}

.article-title {
  margin: 0;
  font-feature-settings: "palt";
}

.article-summary {
  margin: 1rem 0;
  line-height: 1.5;
}

.article-pubdate {
  margin: 1rem 0;
  font-size: 0.9rem;
  color: #fffc;
}

/* 記事本文 */

.article-content {
  padding: 2rem 10px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.article-content-inner {
  max-width: 50rem;
  line-height: 1.8;
}

.long-content-placeholder {
  width: 100%;
  height: 30em;
  background-color: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
}